extends partials/default

block PageContent
  .container-fluid
    .row-fluid
      .area-top.clearfix
        .pull-left.header
          h3.title
            i.icon-dashboard
            | 工作面板
          h5
            | 常用的工作任务安排汇总列表
        ul.inline.pull-right.sparkline-box
          li.sparkline-row
            h4.blue= countServiceItem
              span 服务
            a(href= webRoot_wehere + "/service/serviceItemList")
              .sparkline.big
                span.peity_bar_good 17,24,19,18,7,28,16,2,23
          li.sparkline-row
            h4.green= countStore
              span 门店
            a(href= webRoot_wehere + "/merchant/storeList")
              .sparkline.big
                span.peity_bar_neutral 25,28,21,19,8,6,27
          li.sparkline-row
            h4.red= countMember
              span 会员
            a(href= webRoot_wehere + "/merchant/memberList")
              .sparkline.big
                span.peity_bar_bad 7,12,14,9,16,15,9,11
  .container-fluid.padded
    !=messages()
    .row-fluid
      #breadcrumbs
        .breadcrumb-button.blue
          span.breadcrumb-label
            i.icon-home
            | 首页
          span.breadcrumb-arrow
            span
        .breadcrumb-button
          span.breadcrumb-label
            i.icon-dashboard
            | 工作面板
          span.breadcrumb-arrow
            span
  .container-fluid.padded
    .row-fluid
      .span6
        .box
          .box-header
            span.title 待审核服务
            ul.box-toolbar
              li
                span.label.label-green= sellRecords.length
          .box-content
            - if(sellRecords.length < 1)
              .alert.alert-info
                strong 暂无待审核的服务
            - else
              table.table.table-normal
                thead
                  tr
                    td
                    td 会员号
                    td 服务名称
                    td(style="width: 40px")
                tbody
                  each row1,i1 in sellRecords
                    tr.status-info
                      td.icon
                        i.icon-exchange
                      td
                        a= row1.member.user?row1.member.user.userName:''
                      td
                        b= row1.serviceItem.serviceItemName
                      td
                        .btn-group
                          button.btn.btn-mini.btn-default.dropdown-toggle(data-toggle="dropdown")
                            i.icon-cog
                          ul.dropdown-menu
                            li
                              a(href= webRoot_wehere +'/serviceAudit/serviceItemAuditPass?pageNum="index"&sellRecordId='+ row1._id) 审核通过
                            li
                              a(data-toggle="modal", href="#serviceItemAuditNoPassTxtDialog", ,onclick="openItemAuditNoPassTxtDialog('#{row1._id}')") 审核驳回
                            li.divider
                            li
                              a(href= webRoot_wehere + '/serviceAudit/serviceItemApply') 查看详情
      .span6
        .box
          .box-header
            span.title 待审核的使用请求
            ul.box-toolbar
              li
                span.label.label-blue= consumeRecords.length
          .box-content
            - if(consumeRecords.length < 1)
              .alert.alert-info
                strong 暂无待审核的使用请求
            - else
              table.table.table-normal
                thead
                  tr
                    td
                    td 会员号
                    td 服务名称
                    td(style="width: 40px")
                tbody
                  each row2,i2 in consumeRecords
                    tr.status-success
                      td.icon
                        i.icon-refresh
                      td
                        a= row2.member.user?row2.member.user.userName:''
                      td
                        b= row2.memberService.memberServiceName
                      td
                        .btn-group.pull-right
                          button.btn.btn-mini.btn-default.dropdown-toggle(data-toggle="dropdown")
                            i.icon-cog
                          ul.dropdown-menu
                            li
                              a(href="#checkConsumeRecordIndex", data-toggle="modal",onclick="openIndexDialog('#{row2.member.user?row2.member.user.userName:""}','#{row2._id}','#{row2.memberService.memberServiceType}')") 确认
                            li
                              a(href= webRoot_wehere +'/serviceAudit/serviceItemUsedCancel?pageNum="index"&consumeRecordId='+ row2._id) 取消
                            li.divider
                            li
                              a(href= webRoot_wehere + '/serviceAudit/serviceItemUsed') 查看详情
    .row-fluid
      .span12
        .box
          .box-header
            span.title 新增会员
            ul.box-toolbar
              li
                span.label.label-dark= members.length
          .box-content
            - if(members.length < 1)
              .alert.alert-info
                strong 您的商户还没有会员,赶快邀请吧！
            - else
              table.table.table-normal
                thead
                  tr
                    td #
                    td 会员号
                    td 会员电话
                    td 会员积分
                    td 加入日期
                    td(style="width: 40px")
                tbody
                  each row3,i3 in members
                    tr.status-success
                      td= i3+1
                      td
                        a= row3._id
                      td
                        a= row3.user?row3.user.userName:''
                      td
                        a= row3.memberPoint
                      td
                        b= row3.createdAt
                      td
                        .btn-group.pull-right
                          a.btn.btn-default.btn-mini(title="查看详情", href= webRoot_wehere +'/merchant/memberInfo?memberId='+row3._id)
                            i.icon-cog

  #checkConsumeRecordIndex.modal.hide.wizard-modal.in(style='margin-top: -200px; width: 500px; margin-left: -275px; display: none;', aria-hidden='false')
    .modal-header
      button.close(type="button", data-dismiss="modal")
      h6 使用服务验证
    .modal-body
      form.separate-sections(method="post", action= webRoot_wehere +"/serviceAudit/serviceItemUsedCheck")
        input(type="hidden",name="pageNum",value='index')
        input.cellphone(type="hidden",name="cellphone")
        input.consumeRecordId(type="hidden",name="consumeRecordId")
        .input-prepend
          span.add-on(href='#')
            i.icon-key
          input.input-xlarge(type='text',name='captcha', placeholder='请输入验证码')
        .input-prepend.memberServiceNumber(style='display:none')
          span.add-on(href='#')
            i.icon-money
          input.input-xlarge(type='number',min='0',name='serviceNumber', placeholder='请输入消费金额或积分')
    .modal-footer
      button.btn.btn-default(data-dismiss="modal") 关 闭
      button.btn.btn-blue(type="button",onclick="$('#checkConsumeRecordIndex form.separate-sections').submit()") 保 存

  #serviceItemAuditNoPassTxtDialog.modal.hide.wizard-modal.in(style='margin-top: -200px; width: 500px; margin-left: -275px; display: none;', aria-hidden='false')
    form(method="get", action= webRoot_wehere +"/serviceAudit/serviceItemAuditNoPass")
      .modal-header
        button.close(type='button', data-dismiss='modal',aria-hidden='true') ×
        h3 审核不通过理由
      .modal-body.messageAlert
        input.sellRecordId(type="hidden",name='sellRecordId')
        input(type="hidden",name='pageNum',value='index')
        textarea(name='noPassTxt', style='width:100%;height:100%;',placeholder='请输入审核不通过理由')
      .modal-footer
        button.btn.btn-default(data-dismiss="modal") 关 闭
        button.btn.btn-blue(type="submit") 保存

block scripts
  script
    function openIndexDialog(cellphone,consumeRecordId,serviceType){
      $("#checkConsumeRecordIndex .memberServiceNumber").hide();
      $("#checkConsumeRecordIndex input.cellphone").val(cellphone);
      $("#checkConsumeRecordIndex input.consumeRecordId").val(consumeRecordId);
      if(serviceType === 'StoreCard'){
        $("#checkConsumeRecordIndex .memberServiceNumber").show();
      }
    }
    function openItemAuditNoPassTxtDialog(sellRecordId){
      $("#serviceItemAuditNoPassTxtDialog input.sellRecordId").val(sellRecordId);
    }

  script(type="text/javascript", src= webRoot_href + '/javascripts/excanvas.js')
  script(type="text/javascript", src= webRoot_href + '/javascripts/jquery.ui.custom.js')
  script(type="text/javascript", src= webRoot_href + '/javascripts/jquery.peity.js')
  script(type="text/javascript")
    $.fn.peity.defaults.pie = {
      colours: ["#ff9900", "#fff4dd", "#ffd592"],
      delimiter: null,
      diameter: 16,
      height: null,
      width: null
    }

    $.fn.peity.defaults.line = {
      colour: "#c6d9fd",
      strokeColour: "#4d89f9",
      strokeWidth: 1,
      delimiter: ",",
      height: 30,
      max: null,
      min: 0,
      width: 82
    }

    $.fn.peity.defaults.bar = {
      colours: ["#4d89f9"],
      delimiter: ",",
      height: 30,
      max: null,
      min: 0,
      spacing: devicePixelRatio || 1,
      width: 82
    }

    $(document).ready(function(){
      $(".peity_bar_good").peity("bar", {colours:["#459D1C"]});
      $(".peity_bar_bad").peity("bar", {colours:["#BA1E20"]});
      $(".peity_bar_neutral").peity("bar", {colours:["#757575"]});
    });

